.result_content {
margin: 0 auto;
padding: 60px 15px;
max-width: 1230px;
}
.result {
    text-align: center;
}
.result_text--correct {
    color: #ff0000;
}
.result_text--incorrect {
    color: #0000ff;
}

.answer-table {
    border: 1px solid #ddd;
}
.answer-table_inner {
    width: 100%;
}
.answer-table_header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}
.answer-table_text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.answer-table_row:last-child .answer-table_header,
.answer-table_row:last-child .answer-table_text {
    border-bottom-width: 0;
}